html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    /* display: flex; */
    justify-content: center;    
    position: relative;
}
table {    
    margin: 0 auto;
    /* position: relative; */
    border-collapse: collapse;
    border-spacing: 0;
    background: rgba(230, 230, 236, 0.603);
}
td {
    background-color: rgba(6, 25, 247, 0.15);
    width: 263px;
    height: 170px;
    border: 3px solid #3f3e3e;
    position: relative;
}
.aim {
    position: absolute;
    top: 25.3%;
    left: 50%;
    width: 200px;
    height: 200px;
    transform: translate(-50%, 37%);
}
.star {
    width: 100%;
    height: 160px;
    display: none;
}
.star--active {
    display: block;
}
.num {
    position: absolute;
    font-size: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.info {
    margin: 0 auto;
    text-align: center;
    max-width: 803px;
    background-color: rgb(221, 231, 243);
    padding: 2px;
    margin-bottom: 15px;
}
.info p {
    margin: 0;
}
.info span {
    color: green;
}